/*
    styles 1440px
*/

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    width: 100%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
    margin: 5em auto;
}

.car {
    padding: 3em;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 2.3em;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.1em;
}

button {
    padding: 1em;
    width: 9em;
    border: none;
}

.sedans button {
    border-radius: 30px;
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    border-radius: 30px;
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.luxury button {
    border-radius: 30px;
    color: hsl(179, 100%, 13%);
}

.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(318, 70%, 53%); 
}